@import 'reset';

img{
	width: 400px;
}
body{
	border: 9px solid black;
	width: 400px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}

h3{
	font-family: Arial;
	font-size: 30px;
}
.answer{
	font-family: Arial;
	font-size: 30px;
	margin-bottom: 10px;
	background-color: black;
	color: white;
	margin-bottom: 0px;
	padding-bottom: 10px;
	margin-top: 5px;
}
input:hover{
	background-color: orange;
}
